<p id="notice"><%= notice %></p>

<h1>Listing Webrtc Agents</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Sip domain</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webrtc_agents.each do |webrtc_agent| %>
      <tr>
        <td><%= webrtc_agent.user %></td>
        <td><%= webrtc_agent.sip_domain %></td>
        <td><%= webrtc_agent.phone_number %></td>
        <td><%= link_to 'Show', webrtc_agent %></td>
        <td><%= link_to 'Edit', edit_webrtc_agent_path(webrtc_agent) %></td>
        <td><%= link_to 'Destroy', webrtc_agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webrtc agent', new_webrtc_agent_path %>
