<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @webrtc_agent.user %>
</p>

<p>
  <strong>Sip domain:</strong>
  <%= @webrtc_agent.sip_domain %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @webrtc_agent.phone_number %>
</p>

<%= link_to 'Edit', edit_webrtc_agent_path(@webrtc_agent) %> |
<%= link_to 'Back', webrtc_agents_path %>
